﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - @ManajemenStok.Helper.ConfigModel.AppName</title>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="~/Themes/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/colors.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/components.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/core.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/icons/icomoon/styles.css" rel="stylesheet" />
<link href="~/Themes/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<script src="~/Themes/assets/js/core/libraries/jquery.min.js"></script>
<script src="~/Themes/assets/js/core/libraries/bootstrap.min.js"></script>
<script src="~/Themes/assets/js/core/app.min.js"></script>
<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/Themes/assets/js/plugins/cleave.min.js"></script>
<script src="~/Themes/assets/js/plugins/notifications/pnotify.min.js"></script>
@*<script src="~/Scripts/signalr.js"></script>*@
@*<script src="http://192.168.1.212:1023/js/signalr/dist/browser/signalr.js"></script>*@

<script src="~/Scripts/mahas.js"></script>
<script>
    function alertpopup(text, status) {
        var newText = '';
        text = text || 'danger';
        if (status === 'danger') {
            if (text.length > 1000) text = 'Internal Server Error';
        }
        $.each(text.split("|"), function (index, value) {
            newText += "<li>" + value + "</li>";
        });
        var icon = status === 'success' ? 'icon-checkmark3' :
            status === 'danger' ? 'icon-blocked' :
                status === 'info' ? 'icon-info22' :
                    status === 'warning' ? 'icon-warning22' :
                        '';
        var myStack = { "dir1": "down", "dir2": "right", "push": "top" };
        new PNotify({
            title: status,
            icon: icon,
            text: newText,
            type: status,
            stack: myStack
        });
    }
</script>