﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-user">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span>@User.Identity.GetUserName()</span>
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                @*<li><a href="@Url.Action("Index","Manage")"><i class="icon-cog5"></i> Account settings</a></li>*@
                @if (User.IsInRole("Kasir"))
                {
                    @*<li><a onclick="openmodalcabang()"><i class="icon-store"></i> Ganti Cabang</a></li>*@
                }
                <li class="divider"></li>
                <li><a href="@Url.Action("Help","Home")"><i class="icon-help"></i> Help</a></li>
                <li><a href="@Url.Action("ApplicationInfo","Home")"><i class="icon-info3"></i> Application Info</a></li>
                <li class="divider"></li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
